PUBLIC_IP=185.253.8.33
BEELINE_HOST=46.227.186.231
BEELINE_PORT=6050
BEELINE_PASSWORD=change-me
B24_SIP35_PASSWORD=change-me
B24_SIP36_PASSWORD=change-me
B24_HOST=ip.b24-7297-1638417655.bitrixphone.com
